*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.nav-link{
 color:darkslategray;
 font-size: x-large;
 font-family: Arial, Helvetica, sans-serif;

}
.btn-search{
    width:200px !important;
    height: 40px;
    margin-top: 10px ;
}

.active{
    color: red !important ;
}

h1{
    text-align: center;
}
.container-wrapper{
    height:40px;
}
.maindiv
{
    display: flex;
}
.Animate{
    color:#f50057 !important;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}